.Root {
  all: unset;
  background-color: white;
  width: 14px;
  height: 14px;
  border-radius: 2px;
  border: rgb(223, 221, 221) 2px solid;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    border: #4688f6 2px solid;
  }
}

.Indicator {
  color: #fff;
  background-color: #4688f6;
  border: #4688f6 2px solid;
  display: flex;
  align-items: center;
}

.Label {
  color: white;
  padding-left: 15px;
  font-size: 15px;
  line-height: 1;
}
