.Root {
  all: unset;
  background-color: white;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: rgb(223, 221, 221) 2px solid;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  &:hover {
    border: #4688f6 2px solid;
  }
  .checkIcon {
    background-color: #4688f6;
    border: #4688f6 2px solid;
  }
}

.check {
  border: #4688f6 2px solid;
}
