.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  .portal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
    height: 30%;
    background-color: #fff;
    padding: 20px;
    border-radius: 3px;
    z-index: 1000; /* Убедитесь, что портал поверх остального контента */
    .close {
      position: absolute;
      top: 10px;
      right: 10px;
    }
    .input {
      width: 100%;
      border: #cdc7c7 1px solid;
      border-radius: 3px;
      padding: 10px;
      margin: 10px 0;
      &:focus {
        border: 1px solid #3d59f6;
      }
    }
  }
}
